/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --primary:rgb(33,57,106);
    --secondary:rgb(55,182,103);
    --tertiary:rgb(237,20,61);
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding:10px 30px;
 
}
header{
    background-color: var(--primary);
}
header a{
    text-decoration: none;
    font-size: 40px;
    color: white;
    font-weight: 600;
    
    
}
.flex{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.item-center{
    /* display: flex; */
    align-items: center;
}

ul li{
    color: white;
    margin-top: 5px;
    margin-left: 26px;
    font-size: 25px;
    font-weight: 400;
    align-items: center;
}

/* section css starts here */
.section{
    padding: 30px 0px;
    background-color: aliceblue;
}
.img{

    margin-right: 40px;
}
.img img{
width: 100%;
object-fit:cover;
height: 100%;

}
.heading{
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    color: var(--secondary);
    margin-bottom: 20px;

}
.portion p{
    font-size: 20px;
    line-height: 1.5;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.portion a{
font-size: 20px;
font-weight: 500;

}
.btn{
    text-align: center;
    text-decoration: none;
    padding: 12px 30px;
    background-color: var(--tertiary);
    color: white;
    margin-top: 20px;
}
.gallary{
    padding: 40px 0px;
    background-color: rgb(252, 255, 240);
}
.gallary-h1{
    font-size: 40px;
    color: var(--secondary);
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 20px;
}
.flex-30{
    flex: 0 1 30%;
}
.width-100{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
footer{
background-color: var(--primary);
color: white;
text-align: center;
padding: 20px 0px;
font-size: 20px;
}

/* resposive part */

@media  screen and (max-width: 760px) {
    .flex-30{
        flex: 0 1 100%;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .flex{
        flex-wrap: wrap;
        justify-content: center;
    }
  header .container a{
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
  }
  nav ul{
    display: flex;
    justify-content: center;
  }
  .gallary{
    padding: 0px 0px;
    background-color: rgb(252, 255, 240);
}
.img{

    margin-bottom: 20px;
}
footer{
    background-color: var(--primary);
    color: white;
    text-align: center;
    padding: 2px 0px;
    font-size: 10px;
    }
    .section .container .img{
    margin-left: 40px;
    width: 100%;
    height: 100%;
    
    }
    .btn{
        text-align: center;
        text-decoration: none;
        padding: 8px 20px;
        background-color: var(--tertiary);
        color: white;
        margin-top: 20px;
    }
}

